{% include 'partials/header.html' %}
<header>
	<br>
	<h2 class="text-center">Add new Todo</h2>
	<hr>
</header>

<form action="{% url 'todo:add' %}" method="POST">
	{% csrf_token %}

	<label for="title">Title</label>
	<input type="text" class="form-control" name="title" id="title">
	<br>
	<label for="text">Text</label>
	<textarea type="text" class="form-control" name="text" id="text"></textarea>
	<br>
	<input type="submit" class="btn btn-primary" value="Submit"/>
</form>
<br>
<a href="/"><< Go Back</a>
{% include 'partials/footer.html' %}